@import "../../../../styles/colors.scss";

.dashboardInfo {
  height: 80%;
  overflow-y: auto;

  &__activeDiseasesBox {
    background-color: $white;
    border: 1px solid rgba(67, 67, 67, 0.25);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1.4rem 2rem;
    margin-bottom: 3.5rem;
    display: flex;
    gap: 1.4rem;

    &__title {
      font-size: 1.4rem;
      font-weight: 700;
    }

    &__empty {
      font-size: 1.4rem;
    }
  }

  &__noData {
    background-color: $white;
    border: 1px solid rgba(67, 67, 67, 0.25);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1.4rem;
    height: 80%;
    font-size: 1.4rem;
  }
}