.foodInfo {
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  &__myFoodMobileBtn {
    display: none;
  }
}


@media all and (min-width: 0) and (max-width: 650px) {
  .foodInfo {
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
  }

  .foodInfo__myFoodMobileBtn {
    display: block;
  }
}