@import "../../../../styles/colors.scss";

.foodInfo {
  &__myFoodMobileBtn {
    display: none;
  }

  &__msg {
    font-size: 2rem;
    color: $red;
  }
}


@media all and (min-width: 0) and (max-width: 650px) {
  .foodInfo {
    // flex-direction: column;
    // justify-content: space-between;
    height: 80%;
  }

  .foodInfo__myFoodMobileBtn {
    display: block;
  }
}