@import '../../../../../../styles/colors.scss';

.item {
  background-color: $dark-green;
  padding: 0.6rem 1.2rem;
  border-radius: 5px;
  color: $white;

  display: flex;
  justify-content: space-between;

  &__title {
    flex-grow: 1;
  }

  &__colories {
    width: 5rem;
  }

  &__contolls {
    display: flex;
    justify-content: space-between;
    gap: 0.8rem;

    &__ico {
      width: 1.4rem;
      height: 1.4rem;
      cursor: pointer;
      transition-duration: 0.4s;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

@media all and (min-width: 0) and (max-width: 540px) {
  .item__box {
    margin-bottom: 0.8rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}