@import '../../../../../../styles/colors.scss';

.item {
  background-color: $dark-green;
  padding: 1.5rem;
  border-radius: 5px;
  color: $white;
  width: 300px;
  min-height: 220px;
  font-size: 0.8rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;

  &__headingBox {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    flex-grow: 1;
    font-weight: 700;
    font-size: 1rem;
  }

  &__contolls {
    display: flex;
    justify-content: space-between;
    gap: 0.8rem;

    &__ico {
      width: 1.4rem;
      height: 1.4rem;
      cursor: pointer;
      transition-duration: 0.4s;

      &:hover {
        opacity: 0.8;
      }
    }
  }
  &__decription {
    &__line {
      width: 100%;
      border: 1px solid #FFFFFF;
    }
  }

  &__ingredients {
    font-weight: 700;
    font-size: 0.8rem;

    &__list {
      padding-left: 1rem;
    }
  }
}

@media all and (min-width: 0) and (max-width: 470px) {
  .item {
    width: 200px;
    min-height: 160px;
    overflow-y: auto;
  }
}