@import '../../../../../styles/colors.scss';

.addNewIllness {
  &__header {
    text-align: center;
    font-size: 1.4rem;
  }

  &__msg {
    color: $red;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
  }

  &__form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    align-self: center;

    &__textarea {
      width: 100%;
      padding: 0.4rem 1rem;
      border: 1px solid #6D6D6D;
      border-radius: 5px;
      font-size: 1rem;
      background: $white;
      box-sizing: border-box;
    }
  }
}