@import '../../../../../styles/colors.scss';

.addNewIllnessForDay {
  &__header {
    text-align: center;
    font-size: 1.4rem;
  }

  &__msg {
    color: $red;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
  }
}