@import "../../../../styles/colors.scss";

.signInBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.2rem;
  align-self: center;
  width: 20rem;
  margin: auto;

  &__header {
    font-size: 2rem;
    text-align: center;
  }

  &__desclimer {
    text-align: center;
    color: $black;
    font-size: 1.2rem;
  }
}