.headBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;

  &__pageName {
    font-size: 2rem;
  }

  &__controllsBox {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
  }

  &__dataPicker {
    padding: 0.4rem 0.8rem;
    border: 1px solid #6d6d6d62;
    border-radius: 5px;
    font-size: 1rem;
    align-self:center;

    &:focus {
      outline: none;
    }
  }

  &__icon {
    width: 33px;
    height: 33px;
    cursor: pointer;
    transition-duration: 0.4s;

    &:hover {
      opacity: 0.8;
    }
  }

  &__mobileBox {
    display: none;
  }
}

@media all and (min-width: 0) and (max-width: 800px) {
  .headBox {
    flex-direction: column;
  }
  .headBox__desktop {
    display: none;
  }
  .headBox__mobileBox {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
  }

  .headBox__controllsBox {
    width: 100%;
  }
}

@media all and (min-width: 0) and (max-width: 540px) {
  .headBox {
    margin-bottom: 1rem;
  }
}