.headBox {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 2rem;

  &__pageName {
    font-size: 2rem;
  }
}

@media all and (min-width: 0) and (max-width: 400px) {
  .headBox {
    flex-direction: column;
  }
}