@import '../../../styles/colors.scss';

.leftMenu {
  width: 15rem;
  padding: 1.4rem 0;
  box-sizing: border-box;
  background-color: $white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1.4rem;

  &__header {
    font-size: 2rem;
    text-align: center;
  }

  &__mini {
    font-size: 0.8rem;
    text-align: center;
  }

  &__nav {
    flex-grow: 1;

    &__item {
      display: block;
      background: none;
      border: none;
      font-size: 1.4rem;
      color: $black;
      cursor: pointer;
      text-align: left;
      width: 12rem;
      padding: 0.5rem 0 0.5rem 2rem;
      transition-duration: 0.4s;
      text-decoration: none;

      &:hover {
        background-color: $green;
        border-radius: 0 10px 10px 0;
        color: $white;
      }
    }
  }

  &__exitBtn {
    display: block;
    margin: auto;
    width: 3rem;
    height: 3rem;
    transition-duration: 0.4s;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}

@media all and (min-width: 0) and (max-width: 900px) {
  .leftMenu {
    width: 10rem;
  }
  .leftMenu__header {
    font-size: 1.4rem;
  }
  .leftMenu__nav__item {
    font-size: 1.2rem;
    width: 8rem;
  }
}

@media all and (min-width: 0) and (max-width: 800px) {
  .leftMenu {
    flex-direction: row;
    justify-content: space-between;
    box-shadow: none;
    padding: 1rem;
    box-sizing: border-box;
    border-top: 1px solid $black;
    width: auto;
  }
  .leftMenu__header {
    font-size: 1.6rem;
    font-weight: 700;
  }

  .leftMenu__nav {
    display: flex;
    justify-content: space-between;
  }
  .leftMenu__nav__item {
    width: auto;
    padding: 1rem;
  }
}

@media all and (min-width: 0) and (max-width: 650px) {
  .leftMenu {
    flex-direction: column;
    padding: 0.5rem;
    gap: 0.6rem;
  }

  .leftMenu__exitBtn {
    width: 2rem;
    height: 2rem;
  }
}

@media all and (min-width: 0) and (max-width: 430px) {
  .leftMenu__nav__item {
    font-size: 0.8rem;
    padding: 0;
  }
}