@import '../../../../../styles/colors.scss';

.addFoodForDay {
  &__form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    align-self: center;
    font-size: 1.4rem;

    &__textarea {
      width: 100%;
      padding: 0.8rem 1.5rem;
      border: 1px solid #6D6D6D;
      border-radius: 5px;
      font-size: 1.4rem;
      background: $white;
      box-sizing: border-box;
    }

    &__time {
      width: 100%;
      padding: 0.8rem 1.5rem;
      border: 1px solid #6D6D6D;
      border-radius: 5px;
      font-size: 1.4rem;
      background: $white;
      box-sizing: border-box;

      &:active,
      &:focus {
        outline: none;
      }
    }
  }
}

.addNewIllnessForDay {
  &__header {
    text-align: center;
    font-size: 1.6rem;
  }

  &__msg {
    color: $red;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
  }
}

.addForDay {
  &__radioBox {
    display: flex;
    gap: 1.4rem;

    &__item {
      border-bottom: 1px solid $black;
      padding: 0.2rem 0.6rem;
      cursor: pointer;
      transition-duration: 0.4s;
      font-size: 1.6rem;

      &:hover {
        color: $green;
        border-color: $green;
      }

      &__active {
        color: $dark-green;
        border-color: $dark-green;
      }
      &__inp {
        display: none;
      }
    }
  }
}

@media all and (min-width: 0) and (max-width: 500px) {
  .addFoodForDay__form__time {
    width: 100%;
  }
}