@import '../../../../../styles/colors.scss';

.addFoodForDay {
  &__form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    align-self: center;

    &__textarea {
      width: 100%;
      padding: 0.4rem 1rem;
      border: 1px solid #6D6D6D;
      border-radius: 5px;
      font-size: 1rem;
      background: $white;
      box-sizing: border-box;
    }

    &__time {
      width: 100%;
      padding: 0.4rem 1rem;
      border: 1px solid #6D6D6D;
      border-radius: 5px;
      font-size: 1rem;
      background: $white;
      box-sizing: border-box;

      &:active,
      &:focus {
        outline: none;
      }
    }
  }
}

.addNewIllnessForDay {
  &__header {
    text-align: center;
    font-size: 1.4rem;
  }

  &__msg {
    color: $red;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
  }
}

@media all and (min-width: 0) and (max-width: 500px) {
  .addFoodForDay__form__time {
    width: 100%;
  }
}