@import '../../../../../styles/colors.scss';

.allIllnesses {
  margin-top: 1rem;
  background-color: $white;
  padding: 1.6rem 2rem;
  border-radius: 10px;
  border: 1px solid rgba(67, 67, 67, 0.25);
  height: 80vh;
  overflow-y: auto;
  width: calc(90% - 33rem);

  &__heading {
    font-size: 2.2rem;
    margin-bottom: 2rem;
  }
  &__infoBox {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

.decriptionOpen {
  border-radius: 10px 10px 0px 0px;
}
