@import '../../../../../styles/colors.scss';

.allHealth {
  &__infoBox {
    margin-top: 1rem;
    background-color: $white;
    padding: 1rem 1.2rem;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid rgba(67, 67, 67, 0.25);
    height: 80vh;
    overflow-y: auto;

    &__health {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 1rem;

      &__item {
        background-color: $red-light;
        padding: 0.8rem 1.2rem;
        width: 290px;
        min-height: 221px;
        border-radius: 5px;
        color: $white;
        font-size: 0.8rem;



        &__headerBox {
          display: flex;
          justify-content: space-between;
          margin-bottom: 1rem;
        }

        &__box {
          margin-bottom: 1rem;
        }

        &__title {
          flex-grow: 1;
          font-weight: 700;
          font-size: 1rem;
        }

        &__colories {
          width: 10rem;
        }

        &__contolls {
          display: flex;
          justify-content: space-between;
          gap: 0.8rem;

          &__ico {
            width: 1.4rem;
            height: 1.4rem;
            cursor: pointer;
            transition-duration: 0.4s;

            &:hover {
              opacity: 0.8;
            }
          }
        }

        &__decription {
          &__line {
            width: 100%;
            border: 1px solid #FFFFFF;
          }
        }
      }
    }
  }
}

.decriptionOpen {
  border-radius: 10px 10px 0px 0px;
}
