@import '../../../../../styles/colors.scss';

.allHealth {
  &__infoBox {
    margin-top: 1rem;
    background-color: $white;
    padding: 1.6rem 2rem;
    border-radius: 10px;
    border: 1px solid rgba(67, 67, 67, 0.25);
    height: 80vh;
    overflow-y: auto;

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

.decriptionOpen {
  border-radius: 10px 10px 0px 0px;
}
