@import '../../../../../styles/colors.scss';

.day {
  margin-bottom: 1.3rem;
  &__header {
    background-color: $white;
    padding: 15px 20px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(67, 67, 67, 0.25);
    font-weight: 700;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 0.8rem;
    width: 100%;

    &__food,
    &__health {
      flex-grow: 1;
      border: 1px solid rgba(67, 67, 67, 0.25);
      background-color: $white;
      padding: 15px 20px;
      box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      box-sizing: border-box;
      width: 600px;

      &__item {
        margin-bottom: 1rem;
        border-bottom: 1px solid #fff;
        padding-bottom: 0.8rem;
        &:last-child {
          margin-bottom: 0;
          border-bottom: none;
        }

        &__mainBox {
          display: flex;
          justify-content: space-between;
        }

        &__title {
          width: 10rem;
          font-weight: 700;
          font-size: 1rem;
        }
        &__duration {
          width: 4rem;
          text-align: right;
        }
        &__contolls {
          display: flex;
          justify-content: space-between;
          gap: 0.8rem;
      
          &__ico {
            width: 1.4rem;
            height: 1.4rem;
            cursor: pointer;
            transition-duration: 0.4s;
      
            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
    }

    &__food {
      background-color: $dark-green;
      color: $white;
    }

    &__health {
      background-color: $red-light;
      color: $white;
    }
  }
}

@media all and (min-width: 0) and (max-width: 1500px) {
  .day__info__food,
  .day__info__health {
    width: auto;
  }
}

@media all and (min-width: 0) and (max-width: 1000px) {
  .day__info {
    flex-direction: column;
  }
  .day__info__health__item__title,
  .day__info__food__item__title {
    width: 10rem;
  }
}

@media all and (min-width: 0) and (max-width: 540px) {
  .day__info {
    gap: 0.6rem;
  }
  .day__info__food,
  .day__info__health,
  .day__header {
    font-size: 0.9rem;
    padding: 12px 16px;
  }

  .day__info__health__item__title,
  .day__info__food__item__title {
    width: 6rem;
  }
}