@import '../../../../styles/colors.scss';

.firstSU {
  &__header {
    text-align: center;
    font-size: 2.4rem;
  }

  &__form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    align-self: center;
    
    &__select {
      width: 100%;
      padding: 0.4rem 1rem;
      border: 1px solid #6D6D6D;
      border-radius: 5px;
      font-size: 1.8rem;
      background: $white;

      &:focus {
        outline: none;
      }
    }
    &__desc {
      font-size: 1.4rem;
    }
  }
}