@import '../../../../styles/colors.scss';

.settings {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
  &__item {
    padding: 1.2rem 1.1rem;
    border: 1px solid rgba(67, 67, 67, 0.25);
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);

    &__header {
      color: $black;
      font-weight: 700;
      margin-bottom: 1rem;
    }

    &__form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }

  &__msg {
    text-align: center;
    color: $dark-green;
    padding: 0.7rem;
  }
}