@import '../../../../../styles/colors.scss';

.allFoods {
  &__infoBox {
    margin-top: 1rem;
    background-color: $white;
    padding: 1.8rem 2rem;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid rgba(67, 67, 67, 0.25);
    height: 70vh;
    overflow-y: auto;

    &__box {
      display: flex;
      justify-content: flex-start;
      gap: 1rem;
      flex-wrap: wrap;
    }
  }
}