@import '../../../../../styles/colors.scss';

.allFoods {
  width: 34rem;
  &__header {
    background-color: $white;
    padding: 0.6rem 1.2rem;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid rgba(67, 67, 67, 0.25);
    font-weight: 700;
  }

  &__infoBox {
    margin-top: 1rem;
    background-color: $white;
    padding: 1rem 1.2rem;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid rgba(67, 67, 67, 0.25);
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__foods {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 1rem;
    }
  }
}

@media all and (min-width: 0) and (max-width: 1100px) {
  .allFoods {
    width: 20rem;
  }
}

@media all and (min-width: 0) and (max-width: 650px) {
  .allFoods {
    display: none;
  }
}